body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 1rem;
	line-height: 24px;
	overscroll-behavior: none;
}
#container {
	position: relative;
}
::-webkit-scrollbar {
	display: none;
}

/************
gui 
*************/
#gooey {
	position: absolute;
	width: 100%;
	height: 100%;
}
.gooey_padding {
	padding: 0.5rem;
}

/* archive */
#screenshots {
	position: absolute;
	left: 2rem;
	bottom: 15%;
	background: rgb(4 8 9 / 16%);
	border-radius: 0.5em;
	max-width: 55%;
	min-width: 80%;
	height: 19rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0.75rem;
}
#screenshots img {
	width: 5rem;
	border-radius: 0.5em;
	margin-right: 0.1rem;
}
#screenshots img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffee10;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}
#screenshots img:before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

#screenshots img {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}

#screenshots img:last-child {
	margin-right: 0;
}
.shot_container {
	position: relative;
	margin-bottom: -0.5rem;
	text-align: left;
}



/* info */
#info svg {
  position: relative; 
  display: block;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 63px;
  border-radius: 50%;
  font-size: 30px;
  transition: .5s;
}
#info svg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffee10;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}
#info svg:before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

#info svg {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
	font-size: 1rem;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
	background: rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #ffee10;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
	padding: 1rem 2rem;
	text-align: left;
}

#right_panel {
	position: absolute;
	right: 2rem;
	bottom: 15%;
	display: flex;
	flex-direction: column;
	width: 15%;
	height: 19rem;
}

/* blinking exchange */
#exchange {
  margin: 0 auto;
  font-family: sans-serif;
	box-sizing: border-box;
	background: rgb(4 8 9 / 16%);
	border-radius: 0.5em;
	width: 100%;
	height: 100%;
	margin-bottom: 0.5rem;
	justify-content: center;
	align-items: center;
	display: flex;
}
.exchange_wrapper span:first-child {
	margin-right: 5px;
}
.exchange-text {
	font-size: 3.66rem;
	display: block;
	margin-top: 2rem;
}
.blink-soft {
  animation: blinker 4s linear infinite;
}
.php {
	font-size: 0.8rem;
	float: right;
	margin-top: -0.5rem;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* video */
#video {
	text-align: center;
	background: rgb(4 8 9 / 20%);
	border-radius: 0.5em;
	justify-content: center;
  align-items: center;
  display: flex;
}
#video iframe {
	border: none;
	border-radius: 0.3em;
}
#unmute-video {
	display: none;
}


/* map */
#map {
	position: absolute;
	right: 2rem;
	top: 2rem;
	border-radius: 0.5em;
	width: 18%;
}
#map img {
	width: 100%;
}



/* chatbox */
#chat{
	position: absolute;
	border-radius: 0.5em;
	width: 100%;
	bottom: 30%;
}
#wrapper {
	overflow: scroll;
	height: 70rem;
	-webkit-mask-image: linear-gradient(to top, black 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  width: 97%;
  overflow-y: scroll;
	margin: 0 auto;
}
#wrapper > div {
	display:block;
	padding: 0.65rem;
}
.box .author {
	padding-right: 1rem;
}














/************
threejs
*************/

#info {
	position: absolute;
	top: 2rem;
	left: 2rem;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1;
}
a, button, input, select {
	pointer-events: auto;
}
.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; 
	display: none;
}
.dg.a {
	float: left !important;
}
#overlay {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}
#overlay button {
	background: transparent;
	border: 0;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 4px;
	color: #ffffff;
	padding: 12px 18px;
	text-transform: uppercase;
	cursor: pointer;
}

	/* @media (min-width: 700px) and (max-width: 15000px) {
		#chat{
			position: relative;
			left: 0;
			bottom: 0;
			width: 100%;
			margin-bottom: 0.2rem;
		}
		#wrapper {
			height:70vh;
			max-width: 95%;
			padding-bottom: 0.5rem;
			margin: 0 auto;
		}
		#right_panel {
			position: relative;
			display: none;
		}
		canvas {
			position: fixed;
			z-index: -1;
		}
		#screenshots {
			position: relative;
			max-width: 100%;
			height: 20vh;
			left: 0;
			bottom: 0;
		}
		.shot_container {
			max-width: 95%;
			margin: 0 auto;
			padding: 0.5rem 0;
		}
		.popup {
			width: 50%;
			padding: 0;
		}

		#map {
			width: 30%;
			top: 1rem;
			max-width: 20rem;
		}
	
	} */

	@media (max-width: 2200px) {
		#screenshots, 
		#exchange {
			background: rgb(4 8 9 / 5%);
		}
		#screenshots,
		#right_panel {
			bottom: 2rem;
		}
		#video {
			background: rgb(4 8 9 / 12%);
		}
		#wrapper {
			height: 37rem;
		}
		#chat {
			bottom: 36%;
		}
	}


	@media (min-width: 300px) and (max-width: 700px) {
		#chat{
			position: relative;
			left: 0;
			bottom: 0;
			width: 100%;
			margin-bottom: 0.2rem;
		}
		#wrapper {
			height: 92vh;
			overflow: hidden;
		}
		#right_panel {
			position: relative;
			display: none;
		}
		canvas {
			position: fixed;
			z-index: -1;
		}
		#screenshots {
			position: relative;
			max-width: 100%;
			height: 100vh;
			left: 0;
			bottom: 0;
			background: none;
		}
		.popup {
			width: 100%;
			padding: 0;
			margin: 0;
		}
		.overlay {
			position: relative;
		}
		#info {
			left: 0;
			top: 1rem;
		}
		#map {
			width: 30%;
		}
	
	}
	